.product-list.product-detail {
}
.product_tabs {
	padding: 60px 0;
}
.product_tabs .nav-tabs {
    width: 100%;
    border-top: 1px dashed #3a3a3a;
    margin: auto;
	display: block;
	text-align:center;
	padding: 10px 0;
}
.product_tabs .nav-tabs li{
	display: inline-block;
}
.product_tabs .nav-tabs .nav-link.active {
	background: none;
	border: 0;
	color: #f44336;
	font-weight:bold;
	font-size: 16px;
}
.product_tabs .nav-tabs .nav-link,.product_tabs .nav-tabs .nav-link:focus,.product_tabs .nav-tabs .nav-link:hover {
    border:0;
}
.product_tabs .nav>li>a {
	padding: 10px 25px;
	font-size: 16px;
	font-weight:bold;
	color: #f7f7f7;
	text-transform:uppercase;
}
.product_tabs .tab-pane {
	padding: 30px;
	background: rgb(255 255 255 / 0.56);
}
.product_tabs .tab-pane,.product_tabs p {
	color: #000;
}
.slick-slide {
	margin: 0 5px;
}
.slick-list {
	margin: 0 -5px;
}
.slick-slide .slick-item {
	border: 1px solid #292929;
}
.photo-item .image {
	background-position: center;
	background-size: cover;
	height: 215px;
	border: 5px solid #f1f1f1;
}
.photo-item {
	margin-bottom: 30px;
}