/*
	CR Team - Professional Web Designer
*/
@-ms-viewport {
  width: device-width;
}

@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
@media (min-width: 1200px) {
	#contents {
		padding-top: 135px;
	}
	#contents.cart_info{
		padding-top: 30px;
	}
	#contents.video-page {
		padding-top: 0;
	}
}
@media (max-width: 1199px) {
	.sale-schedule-wapper .container {width: auto;}
	#home-page .sale-schedule-wapper .sale-items-wrapper .sale-item.go-to-shop>.wrapper-link-go-to-shop .arrow-right {display: block;margin: 5px auto;}
}
@media (min-width: 1200px) and (max-width: 1388px) {
	
}
@media (min-width: 992px) and (max-width: 1280px) {
	#contents {
		padding-top: 0px;
	}
}
@media (min-width: 1200px) and (max-width: 1430px) {
	.col-hotline {display: none;}
	.col-features {width: 100%;}
}
@media (max-width: 1430px) {
	.video-page .inner {
		height: 400px;
	}
	.wrap-main {
		background:#fed700;
	}
}
@media (max-width: 768px) {
	#home-page .sale-schedule-wapper {
		padding: 30px 0;
	}
	.blog-page .inner {
		padding: 15px 0 30px 0;
	}
	.item-product {
		padding-left: 5px;
		padding-right: 5px;
	}
	#footer-com {
		padding: 0;
	}
	.owl-3-article .owl-stage {
		right: 30px;
	}
	.sale-schedule-wapper .row.products-w,.product-list .row.products-w,.row-condensed {
		margin-left: -5px;
		margin-right:-5px;
	}
	.col-order-3 {
		padding-top: 10px;
	}
	.col-order-4 {
		padding-top: 15px;
	}
	.row-total-price b {
		display: block;
	}
}
@media (max-width: 1024px) and (min-width: 768px) {
	#main-menu .navbar-collapse.collapse.show {
		display: block;
	}
}
@media (max-width: 1199px) {
	
}
@media (min-width: 479px) {

}